In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

In [2]:
df = pd.read_csv('bank-additional-full.csv', sep=";")
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [3]:
y = df.iloc[0:, 20] #this is the output variable dataframe
X = df.iloc[0:, 0:20] #this is the rest of the factors except the output variable
print(y)
#X = df.drop(['y'], axis=1)

#y = df['y']

0         no
1         no
2         no
3         no
4         no
        ...
41183    yes
41184     no
41185     no
41186    yes
41187     no
Name: y, Length: 41188, dtype: object

In [4]:
'''STEP 2'''
from sklearn.model_selection import train_test_split

#we use train_test_split to randomly generate sets and we also split the output value already
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=(2021-10-25)) # 10% test, 90% train

In [5]:
X_train = X_train.drop(columns=['duration','poutcome'])
X_test = X_test.drop(columns=['duration','poutcome'])

In [6]:
X_train

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
22975,56,retired,married,professional.course,no,yes,no,cellular,aug,mon,5,999,0,1.4,93.444,-36.1,4.965,5228.1
14746,26,technician,single,professional.course,no,unknown,unknown,cellular,jul,wed,1,999,0,1.4,93.918,-42.7,4.957,5228.1
12505,38,admin.,divorced,high.school,no,yes,no,cellular,jul,mon,1,999,0,1.4,93.918,-42.7,4.960,5228.1
6801,33,admin.,divorced,university.degree,no,no,no,telephone,may,wed,2,999,0,1.1,93.994,-36.4,4.857,5191.0
18389,29,admin.,married,high.school,no,no,no,cellular,jul,thu,3,999,0,1.4,93.918,-42.7,4.968,5228.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17987,31,blue-collar,single,professional.course,no,yes,no,cellular,jul,tue,13,999,0,1.4,93.918,-42.7,4.961,5228.1
20299,29,technician,married,high.school,no,no,no,telephone,aug,mon,5,999,0,1.4,93.444,-36.1,4.965,5228.1
14556,49,blue-collar,divorced,basic.4y,unknown,yes,no,cellular,jul,tue,1,999,0,1.4,93.918,-42.7,4.961,5228.1
28981,47,admin.,married,basic.9y,no,yes,no,cellular,apr,fri,1,999,0,-1.8,93.075,-47.1,1.405,5099.1
32764,35,admin.,single,university.degree,no,yes,no,cellular,may,mon,5,999,0,-1.8,92.893,-46.2,1.299,5099.1

In [7]:
'''STEP 4 -> turn categorical variables between 1-10 into dummy variables'''
#categorical vars in a list 
listOfCats = ['job','marital','education','default','housing','loan','contact','month','day_of_week']
X_train = pd.get_dummies(data=X_train, columns=listOfCats)
X_test = pd.get_dummies(data=X_test, columns=listOfCats)

X_train

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job_admin.,...,month_mar,month_may,month_nov,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed
22975,56,5,999,0,1.4,93.444,-36.1,4.965,5228.1,0,...,0,0,0,0,0,0,1,0,0,0
14746,26,1,999,0,1.4,93.918,-42.7,4.957,5228.1,0,...,0,0,0,0,0,0,0,0,0,1
12505,38,1,999,0,1.4,93.918,-42.7,4.960,5228.1,1,...,0,0,0,0,0,0,1,0,0,0
6801,33,2,999,0,1.1,93.994,-36.4,4.857,5191.0,1,...,0,1,0,0,0,0,0,0,0,1
18389,29,3,999,0,1.4,93.918,-42.7,4.968,5228.1,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17987,31,13,999,0,1.4,93.918,-42.7,4.961,5228.1,0,...,0,0,0,0,0,0,0,0,1,0
20299,29,5,999,0,1.4,93.444,-36.1,4.965,5228.1,0,...,0,0,0,0,0,0,1,0,0,0
14556,49,1,999,0,1.4,93.918,-42.7,4.961,5228.1,0,...,0,0,0,0,0,0,0,0,1,0
28981,47,1,999,0,-1.8,93.075,-47.1,1.405,5099.1,1,...,0,0,0,0,0,1,0,0,0,0
32764,35,5,999,0,-1.8,92.893,-46.2,1.299,5099.1,1,...,0,1,0,0,0,0,1,0,0,0

In [8]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [9]:
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

In [10]:
X_test

,0,1,2,3,4,5,6,7,8,9,...,49,50,51,52,53,54,55,56,57,58
0,0.285714,0.000000,1.0,0.0,0.104167,0.000000,0.811715,0.055996,0.425709,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.328571,0.096774,1.0,0.0,0.937500,0.698753,0.602510,0.957379,0.859735,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.242857,0.064516,1.0,0.0,1.000000,0.669135,0.338912,0.981183,1.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.114286,0.032258,1.0,0.0,0.937500,0.698753,0.602510,0.957153,0.859735,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.357143,0.032258,1.0,0.0,0.937500,0.698753,0.602510,0.957606,0.859735,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,0.328571,0.000000,1.0,0.0,0.937500,0.698753,0.602510,0.957153,0.859735,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4115,0.100000,0.000000,1.0,0.0,0.333333,0.250195,0.033473,0.203355,0.512287,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4116,0.528571,0.161290,1.0,0.0,1.000000,0.882307,0.376569,0.980503,1.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4117,0.371429,0.096774,1.0,0.0,1.000000,0.484412,0.615063,0.981637,1.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4118,0.514286,0.000000,1.0,0.0,1.000000,0.484412,0.615063,0.981864,1.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [11]:
'''STEP 5: running the data on a categorical naive bayes classifier'''
from sklearn.naive_bayes import CategoricalNB

cnb = CategoricalNB()
cnb.fit(X_train, y_train)

CategoricalNB()

In [12]:
yTrain_score = cnb.score(X_train,y_train,sample_weight=None)

In [13]:
X_test

,0,1,2,3,4,5,6,7,8,9,...,49,50,51,52,53,54,55,56,57,58
0,0.285714,0.000000,1.0,0.0,0.104167,0.000000,0.811715,0.055996,0.425709,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.328571,0.096774,1.0,0.0,0.937500,0.698753,0.602510,0.957379,0.859735,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.242857,0.064516,1.0,0.0,1.000000,0.669135,0.338912,0.981183,1.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.114286,0.032258,1.0,0.0,0.937500,0.698753,0.602510,0.957153,0.859735,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.357143,0.032258,1.0,0.0,0.937500,0.698753,0.602510,0.957606,0.859735,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,0.328571,0.000000,1.0,0.0,0.937500,0.698753,0.602510,0.957153,0.859735,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4115,0.100000,0.000000,1.0,0.0,0.333333,0.250195,0.033473,0.203355,0.512287,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4116,0.528571,0.161290,1.0,0.0,1.000000,0.882307,0.376569,0.980503,1.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4117,0.371429,0.096774,1.0,0.0,1.000000,0.484412,0.615063,0.981637,1.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4118,0.514286,0.000000,1.0,0.0,1.000000,0.484412,0.615063,0.981864,1.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [14]:
yTrain_score

0.8694866330356902

In [15]:
yTest_score = cnb.score(X_test,y_test,sample_weight=None)

IndexError: index 1 is out of bounds for axis 1 with size 1

In [16]:
'''Step 7'''
# X_ageBucketTrain

ageBucketDF =  df.copy()

def ageBucket(age):
    return age//10

# print(ageBucketDF[0])

ageBucketDF["age"] = ageBucketDF["age"].apply(ageBucket)
ageBucketDF.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,5,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,5,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,3,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,4,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,5,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [17]:
yBucket = ageBucketDF.iloc[0:, 20] #this is the output variable dataframe
XBucket = ageBucketDF.iloc[0:, 0:20] #this is the rest of the factors except the output variable

#we use train_test_split to randomly generate sets and we also split the output value already
X_trainBucket, X_testBucket, y_trainBucket, y_testBucket = train_test_split(XBucket, yBucket, test_size=0.1, random_state=(2021-10-25)) # 10% test, 90% train
X_trainBucket = X_trainBucket.drop(columns=['duration','poutcome'])
X_testBucket = X_testBucket.drop(columns=['duration','poutcome'])
X_trainBucket = pd.get_dummies(data=X_trainBucket, columns=listOfCats)
X_testBucket = pd.get_dummies(data=X_testBucket, columns=listOfCats)
X_trainBucket = scaler.fit_transform(X_trainBucket)
X_testBucket = scaler.fit_transform(X_testBucket)
X_trainBucket = pd.DataFrame(X_trainBucket)
X_testBucket = pd.DataFrame(X_testBucket)
cnbBucket = CategoricalNB()
cnbBucket.fit(X_trainBucket, y_trainBucket)

CategoricalNB()

In [18]:
yTrain_scoreBucket = cnbBucket.score(X_trainBucket,y_trainBucket,sample_weight=None)
yTrain_scoreBucket

0.8695136097547816

In [19]:
yTest_scoreBucket = cnbBucket.score(X_testBucket,y_testBucket,sample_weight=None)
yTest_scoreBucket

IndexError: index 1 is out of bounds for axis 1 with size 1

In [20]:
'''Step 8 '''
from sklearn.neighbors import (NeighborhoodComponentsAnalysis,KNeighborsClassifier)
knn = KNeighborsClassifier(n_neighbors=3)
# cnb = CategoricalNB()
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [21]:
yTrain_scoreKnn = knn.score(X_train,y_train,sample_weight=None)
yTrain_scoreKnn

0.92176751463487

In [22]:
ytest_scoreKnn = knn.score(X_test,y_test,sample_weight=None)
ytest_scoreKnn

0.8805535324107793

In [53]:
'''Step 10'''
from sklearn.metrics import confusion_matrix
tar = np.zeros_like(y_train)
y_predTrain = cnb.predict(X_train)

confusionMatrix = confusion_matrix(y_train, y_predTrain) ## What to do of Tar??? what to send in the second param
print("Confusion Matrix: \n",confusionMatrix)
# y_predTrain

Confusion Matrix:
 [[30425  2477]
 [ 2361  1806]]

In [51]:
from sklearn.metrics import roc_auc_score
aucTrain = roc_auc_score(y_train, cnb.predict_proba(X_train)[:, 1])
aucTrain

0.7654242405000038

In [55]:
''' Step 11'''
#################
#Age bins
tarAgeBins = np.zeros_like(y_train)
y_predTrainAgeBucket = cnb.predict(X_trainBucket)

confusionMatrix = confusion_matrix(y_train, y_predTrainAgeBucket) ## What to do of Tar??? what to send in the second param
print("Confusion Matrix: \n",confusionMatrix)

Confusion Matrix:
 [[30424  2478]
 [ 2360  1807]]

In [56]:
aucTrainBucket = roc_auc_score(y_trainBucket, cnb.predict_proba(X_trainBucket)[:, 1])
aucTrainBucket

0.7654590100727022

In [57]:
############
# KNN
tarAgeKNN = np.zeros_like(y_train)
y_predTrainKNN = knn.predict(X_train)

confusionMatrix = confusion_matrix(y_train, y_predTrainKNN) ## What to do of Tar??? what to send in the second param
print("Confusion Matrix: \n",confusionMatrix)

Confusion Matrix:
 [[32319   583]
 [ 2317  1850]]

In [58]:
aucTrainKNN = roc_auc_score(y_train, knn.predict_proba(X_train)[:, 1])
aucTrainKNN

0.9498386442378635